<!--  <footer class="foot">
    <div class="row">
        <div class="col">
            <h4>Support</h4><br>
            <p>Help Centre</p>
            <p>AirCover</p>
            <p>Anti-discrimination</p>
            <p>Disability support</p>
            <p >Cancellation options</p>
            <p>Report neighbourhood concern</p>
        </div>

        <div class="col">
            <h4>Hosting</h4><br>
            <p >Wanderlust your home</p>
            <p >AirCover for Hosts</p>
            <p >Hosting resources</p>
            <p >Community forum</p>
            <p >Hosting responsibly</p>
            <p >Join a free Hosting class</p>
            <p >Find a co‑hosts</p>
        </div>

        <div class="col">
            <h4>Wanderlust</h4><br>
            <p href="">Newsroom</p>
            <p href="">New features</p>
            <p href="">Careers</p>
            <p href="">Investors</p>
            <p href="">Wanderlust.org emergency stays</p>
        </div> 
    </div>
</footer>
-->
<footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
            <div class="f-info-brand"> &copy; 2024 Wanderlust Private Limited</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy .</a>
                <a href="/terms">Terms .</a>
                <a href="">Sitemap .</a>
                <a href="">Company details</a>
            </div>
        </div>
</footer>